body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background: linear-gradient(to right, #89f7fe, #66a6ff);
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px #007BFF;
}

h1 {
    text-align: center;
}

.booking-form {
    display: flex;
    flex-direction: column;
}

.booking-form label {
    margin-top: 15px;
    font-size: 14px;
    color: rgb(85, 85, 85);
}

.booking-form input,
.booking-form select,
.booking-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid  #96D2D9;
    border-radius: 10px;
    background-color: #f3f4f6
}

.booking-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.booking-form button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007BFF;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
